/* inicio del css del header*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    width: auto;
    height: 8rem;
    color: white;
    font-size: larger;
}

.verde{
    color:#1beb9e;
    font-style: italic;
}

.azul{
    color:#18b6ff;
}

.morado{
    color:#b462ff;
}


.name{
    font-family: 'IBM Plex Mono', monospace;
    margin: 8px;
}

nav h2 {
    font-family: 'IBM Plex Mono', monospace;
    display: inline;
}

.fm{
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 8px;
}

.fm img{
    width: 24px;
    height: 24px;
}

.icon{
    transition: 0.5s all;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.2);
}

