/* inicio del css del header*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    width: auto;
    height: 8rem;
    color: white;
    font-size: larger;
}

.verde{
    color:#1beb9e;
    font-style: italic;
}

.azul{
    color:#18b6ff;
}

.morado{
    color:#b462ff;
}


.name{
    font-family: 'IBM Plex Mono', monospace;
    margin: 8px;
}

nav h2 {
    font-family: 'IBM Plex Mono', monospace;
    display: inline;
}

.fm{
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 8px;
}

.fm img{
    width: 24px;
    height: 24px;
}

.icon{
    transition: 0.5s all;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.2);
}


main{
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    text-align: center;
    font-size: 35px;
    width: auto;
}

main h1{
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: auto;
    height: 640px;
    align-items: center;
    justify-content: space-around;

}



.encriptar{
    width: auto;
}

.encriptar input{
    width: 200px;
    height: 200px;
}

.desencriptar{
    width: auto;
}

.desencriptar input{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 750px){
    main{
    font-size:19px;
    }
    header{  
    font-size:15px;
    }
    .desencriptar input{
        width: 200px;
        height: 200px;
    }
    .encriptar input{
        width: 200px;
        height: 200px;
    }
}